@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");


.slider-one, .slider-two, .slider-three, .slider-four {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: slider-one 12s linear infinite;
          animation: slider-one 12s linear infinite;
}

.slider-one .slider-text, .slider-two .slider-text, .slider-three .slider-text, .slider-four .slider-text {
  position: absolute;
  top: 60%;
  left: 15%;
  color: white;
  width: 700px;
  text-transform: capitalize;
  -webkit-animation: text-up 12s linear infinite;
          animation: text-up 12s linear infinite;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.slider-one .slider-text h1, .slider-two .slider-text h1, .slider-three .slider-text h1, .slider-four .slider-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Playball', cursive;
}

.slider-one .slider-text p, .slider-two .slider-text p, .slider-three .slider-text p, .slider-four .slider-text p {
  color: #daf2fa;
  font-size: 18px;
  line-height: 28px;
}

.slide-one-image, .slide-two-image, .slide-three-image, .slide-four-image {
  width: 130%;
  height: 100%;
  background: url("../images/china5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: zoom-out 6s linear infinite;
          animation: zoom-out 6s linear infinite;
}

.slider-two {
  -webkit-animation: slider-two 12s linear infinite;
          animation: slider-two 12s linear infinite;
}

.slider-two .slide-two-image {
  background-image: url("../images/us1.jpg");
}

.slider-two .slide-two-image .slider-text {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.slider-three {
  -webkit-animation: slider-three 12s linear infinite;
          animation: slider-three 12s linear infinite;
}

.slider-three .slide-three-image {
  background-image: url("../images/china7.jpg");
}

.slider-three .slide-three-image .slider-text {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.slider-four {
  -webkit-animation: slider-four 12s linear infinite;
          animation: slider-four 12s linear infinite;
}

.slider-four .slide-four-image {
  background-image: url("../images/us3.jpg");
}

.slider-four .slide-four-image .slider-text {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

@-webkit-keyframes slider-one {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slider-one {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes slider-two {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slider-two {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes slider-three {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slider-three {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes slider-four {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slider-four {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@-webkit-keyframes zoom-out {
  100% {
    width: 100%;
  }
}

@keyframes zoom-out {
  100% {
    width: 100%;
  }
}

@-webkit-keyframes text-up {
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes text-up {
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (max-width: 798px) {
  .slider-one .slider-text, .slider-two .slider-text, .slider-three .slider-text, .slider-four .slider-text {
    width: 80%;
  }
}

.navbar {
  background: rgba(106, 107, 109, 0.7);
}

.navbar-brand img {
  width: 100px;
}

.nav-link {
  color: lightblue !important;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
}

.nav-link .fas {
  color: darkgoldenrod;
  padding: 10px;
}

.dropdown-menu {
  background: rgba(130, 173, 229, 0.7);
  width: 200px;
}

.dropdown-menu li a {
  color: white;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
}

.language {
  font-size: 1em;
  color: darkblue !important;
}

.language i {
  color: darkred !important;
}

.box {
  max-width: 1040px;
  margin: 0 auto;
}

.box h1 {
  font-size: 4em;
}

.slick-slide {
  margin: 0 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}

.copy {
  padding-top: 250px;
}
/*# sourceMappingURL=home.css.map */